body{
  color: black;
  background-color:#b3b3b3;
}

#headerText{
  color:black;
  text-align: center;
}

#wrapperDiv{
  width: 906px;
  height: 800px;
  border:solid black 3px;
  background-color: #737373;
  margin:auto;
}

#headerDiv{
  width: 900px;
  height: 100px;
  border: solid black 3px;
  background-color: #80dfff;
  margin: auto;
  float:left;


}

#navDiv{
  width: 900px;
  height: 100px;
  border: solid black 3px;
  background-color: #00ffff;
  margin: auto;
  align-items: center;
}

#bodyDiv{
  width: 900px;
  height: 450px;
  border: solid black 3px;
  background-color: #00ffff;
  margin: auto;
  float: left;
}

#footerDiv{
  width: 900px;
  height: 400px;
  border: solid black 3px;
  background-color:black;
  margin: auto;
}

.buttonDiv{
  width: 150px;
  height: 30px;
  border: solid black 1px;
  background-color: white;
  float: left;
  margin: 5px;
  padding: 15px
  margin-left: 20px;
  text-align: center;
}

#pic{
  width:2in;
  height:auto;

}
