
body{
  color: black;
  background-color: #bfbfbf;
}

#headerText{
  color:black;
  text-align: center;
}

#wrapperDiv{
  width: 906px;
  height: 800px;
  border:solid black 3px;
  background-color: #bfbfbf;
  margin:auto;
}

#headerDiv{
  width: 900px;
  height: 225px;
  border: solid black 3px;
  background-color:#cc00ff;
  margin: auto;
  float:left;


}

#navDiv{
  width: 900px;
  height: 225px;
  border: solid black 3px;
  background-color: #00ffff
  margin: auto;
}

#bodyDiv{
  width: 900px;
  height: 600px;
  border: solid black 3px;
  background-color:#737373;
  margin: auto;
  float: left;
  text-align: center;
}

#footerDiv{
  width: 900px;
  height: 100px;
  border: solid black 3px;
  background-color:#737373;
  margin: auto;
}

.buttonDiv{
  width: 150px;
  height: 40px;
  border: solid black 1px;
  background-color: white;
  float: left;
  margin: 5px;
  padding: 15px
  margin-left: 20px;
  text-align: center;
}

#pic{
  width:2in;
  height:auto;

}
